@model CarRental.Models.RegisterViewModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container col-8">
    <div class="lead mt-3 mb-3">
        <h3>Nowe konto</h3>
    </div>
    <div>
        @using (Html.BeginForm("AccountData", "Account", FormMethod.Post, new { id = "editForm" }))
        {
            @Html.Partial("AccountDetails", Model)
        }
    </div>
    <div class="btn-group mt-2">
        <button class="btn btn-success" type="submit" form="editForm">Zapisz zmiany</button>
        <button class="btn btn-success" onclick="location.href='@Url.Action("ChangePassword", "Account")'">Zmień hasło</button>
    </div>
</div>